.navigation {
  margin: 26px 0;
  display: flex;
  position: relative;

  a {
    margin: 10px;
    padding: 10px;
    position: relative;
  }

  .nav-active {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      background: $color-1;
      border-radius: 4px;
      bottom: 1px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .Loginfo {
    right: -20%;
    width: 50%;
    display: flex;
    position: relative;
  }
  h4,
  button {
    margin: 10px;
    padding: 10px;
    position: relative;
  }
}
