.FormRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FormLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.Connected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
}
.Connected button {
  width: 100px;
  height: 50px;
  margin-top: 50px;
}
.Connected button:hover {
  cursor: pointer;
}
.Retour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
.Retour button {
  width: 150px;
  height: 50px;
  margin: 5px;
}
.Retour button:hover {
  cursor: pointer;
}
.Form {
  button {
    width: 80px;
    height: 45px;
    margin-top: 10px;
  }
  button:hover {
    cursor: pointer;
  }
  input {
    margin: 10px;
  }
  h4 {
    margin: 10px;
    color: red;
  }
}
