@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");

 $font-1: "Open Sans", sans-serif;

$color-1: #3020c2;
$color-2: white;
$color-3: black;  


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-1;
}
body {
  margin: 0.4rem auto;
  max-width: 1296px;
  color: $color-3;
  background-color: $color-2;
  padding: 14px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $color-3;
  cursor: pointer;
}
a:visited {
  color: $color-3;
}
