.currentWeather {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  background-color: #c8dbfe;
  padding: 8px;
  border-radius: 20px;
}
